{% extends 'base.html' %}

{% block container %}


  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ departures[departure] }}</h1>
    <p class="mb-4">Найдено {{ city_tours|length }} туров, от {{ '{0:,}'.format(min_price).replace(',', ' ') }} до {{ '{0:,}'.format(max_price).replace(',', ' ') }} и от 4 ночей до 15 ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">

      {% for id, tour in  city_tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(150) }}</p>
            <a href="/tours/{{id}}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </main>

  {% endblock %}
